
/*@font-face {
    font-family: 'acherus_militant_1_-_light.otf';
    src: url('acherus_militant_1_-_light.otf-webfont.woff2') format('woff2'),
         url('acherus_militant_1_-_light.otf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
